<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>Login | Guacy Blog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<div class="container">
    <form action="/user/login" method="post">
        <h1>
            Guacy Blog
        </h1>
        <td th:text="${message}"></td>
        <label for="input" class="sr-only">用户名</label>
        <input type="text" id="input" class="form-control" placeholder="用户名" name="username" required>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">登录</button>
    </form>
</div>
<div id="footer">
    <div>
        <a href="https://github.com/darioshi" target="_blank"><img src="/img/github.png"width="20px" height="20px" class="img-circle">&nbsp;&nbsp;GitHub</a>
        &nbsp;|
        <br/>
        copyright © 2018
    </div>

    <div class="r_div">
        <a href="#"><input  class="btn btn-default"   value="返回顶部"  style="width:50%;"/></a>
    </div>

</div><!-- footer -->
</body>
</html>